@tailwind base;
@tailwind components;
@tailwind utilities;

.newsfeed-item {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-bottom: 20px;
}

.avatar {
    flex-shrink: 0; /* Prevent shrinking of the avatar */
}

.avatar img {
    width: 50px; /* Set avatar photo width */
    height: 50px; /* Set avatar photo height */
    border-radius: 50%;
    margin-right: 10px;
}

.summary {
    font-size: 14px; /* Adjust font size for summary */
    color: #aaa; /* Lighter gray color */
    max-width: 80vw; /* Set max width to 80% of viewport width */
    overflow: hidden; /* Hide overflow text */
    white-space: nowrap; /* Don't wrap text */
    text-overflow: ellipsis; /* Show ellipsis (...) for overflow text */
}

.content {
    flex-grow: 1;
}

.post-link {
    text-decoration: none;
    color: black; /* Black color for normal links */
}

.post-link:visited {
    color: #666; /* Dark gray color for visited links */
}

.post-link:hover {
    text-decoration: underline;
}

.post-link:active {
    color: #888; /* Grey color when link is clicked */
}


.label {
    font-size: 10px; /* Adjust font size for labels */
    padding: 2px 6px; /* Adjust padding for labels */
    border-radius: 4px;
    margin-right: 5px; /* Adjust margin between labels */
}

.red {
    background-color: #ff5f5f;
    color: white;
}

.blue {
    background-color: #5f5fff;
    color: white;
}

.green {
    background-color: #5fff5f;
    color: white;
}

.time {
    font-size: 12px; /* Adjust font size for date */
    color: #888; /* Adjust color for date */
    display: inline-block; /* Ensure date stays on the same line as labels */
    vertical-align: middle; /* Align date vertically with labels */
    margin-top: 5px; /* Adjust margin between link and date */
}

.details {
    margin-top: 5px; /* Adjust margin between summary and details */
}